<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 order-2 order-md-1">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 ml-lg-5">
          <div class="row mt-3 px-3 align-items-start align-items-lg-center ">
            <mat-icon svgIcon="address" class="mr-3 h-100"></mat-icon>
            <p>
              1016 Townsend <br>
              San Antonio, Tx <br>
              78212 <br>
            </p>
          </div>
          <div class="row mt-3 px-3  align-items-start align-items-lg-center">
            <mat-icon svgIcon="phone" class="mr-3"></mat-icon>
            <p>
              210-757-33333
            </p>
          </div>
          <div class="row mt-3 px-3 ">
            <mat-icon svgIcon="email" class="mr-3"></mat-icon>
            <p>
              <a href="#" target="_blank">
                guitardojosatx@gmail.com
              </a>
            </p>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>

    <div class="col-12 col-md-4 pt-4 d-flex flex-column align-items-center justify-content-center order-1 order-md-2">
      <img id="logo" src="../../assets/footerAssets/guitar-dojo-logo.png">
      <p>&#169; {{ year }}</p>
    </div>

    <div class="col-12 col-md-4 py-4 d-flex flex-column align-items-center align-items-lg-start justify-content-center order-3">
      <p>
        Beceome the Rock Star you were meant to be.<br>
        Classes available!
      </p>
      <!-- <div class="row justify-content-start w-100"> -->
        <a class="btn dojo-btn" [routerLink]="['/contact']" >Sign Up!</a>
      <!-- </div> -->
    </div>
  </div>
  <div id="credit-row" class="row justify-content-center align-items-center">
    <p class="my-2">website by webbysites</p>
  </div>
</div>
