
<div class="container-fluid">
  <div class="row jarallax header-image"></div>
</div>
<div class="container">
  <hr>
  <div class="row py-5">
    <div class="col-lg-6">
      <h4 class="my-5 heading-light">
        Guitar Dojo is all about teaching you how to get in touch with your inner Rock Star. Discipline and hard work will help you become the master you are destined to be!
      </h4>
    </div>
    <div class="col-lg-6">
      <h5 class="heading-light">
        STAFF
      </h5>
      <div class="row member" *ngFor="let member of staffMembers; let i = index">
        <div class="col">
          <p class="name">
            <span class="instructor">
              <a class="open-modal-btn" (click)="open(member.id)">
                {{ member.name }}
              </a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col" *ngFor="let member of staffMembers">
      <a (click)="open()">
        {{ member.name }}
      </a>
    </div>
  </div> -->

</div>
