
<div class="container-fluid">
  <div class="row jarallax header-image"></div>
</div>
<div class="container">
  <hr>
  <div class="row py-5">
    <div class="col-lg-6">
      <h4 class="my-5 heading-light">
        Guitar Dojo is all about teaching you how to get in touch with your inner Rock Star. Discipline and hard work will help you become the master you are destined to be!
      </h4>
    </div>
    <div class="col-lg-6">
        <h5 class="heading-light">
          STAFF
        </h5>
        <p>
          <span class="instructor"> Derek Badillo</span>, Owner
        </p>
        <p>
          <span class="instructor">Jack Butler</span>, Guitar Instructor
        </p>
        <p>
          <span class="instructor">Jon Bonham</span>, Drum Instructor
        </p>
        <p>
          <span class="instructor">J.S. Bach</span>, Piano Instructor
        </p>
    </div>
  </div>
</div>
