.containre-fluid {
  padding: 0;
}

.header-image {
    height: 250px;
    background: url('../../assets/contactPageAssets/dojo-contact.jpg') no-repeat center center;
    margin-left: 0;
    margin-right: 0;
}

.form-container {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 5px 10px 8px #888888; */
    background: #ccc;
}

/* .dojo-btn:hover {
  color: #333;
  background: #fff;
  transition: 300ms;
} */

.dojo-btn {
  color: #333;
  background: #00B2A9;
  border: 1px solid #00B2A9;
  height: 40px;
  width: 40%;
  border-bottom: 2px solid #FF8200;
}

.dojo-btn:hover {
  /* color: #00B2A9; */
  background: transparent;
  transition: 300ms;
}



.form-heading {
  font-weight: 400;
  color: #224499;
}
