.header-image {
    height: 250px;
    background: url('../../assets/homeAssets/guitarDojoHome.jpg') no-repeat center center;
}

.form-container {
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 5px 10px 8px #888888; */
}

/* .dojo-btn:hover {
  color: #333;
  background: #fff;
  transition: 300ms;
} */



.form-heading {
  font-weight: 400;
  color: #224499;
}
