<div class="container-fluid">
  <!-- row for header image -->
  <div class="row header-image"></div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h2 class="heading-light">
        Contact Us!
      </h2>
      <div class="row mt-3">
        <mat-icon svgIcon="address" class="mr-3"></mat-icon>
        <p>
          1212 Townsend <br>
          San antonio, Tx <br>
          78212 <br> <br>
          Mon - Fri, 10am - 8pm <br>
          Sat, 11am - 6pm
        </p>
      </div>
      <div class="row mt-3">
        <mat-icon svgIcon="phone" class="mr-3"></mat-icon>
        <p>
          210-555-5555
        </p>
      </div>
      <div class="row mt-3">
        <mat-icon svgIcon="email" class="mr-3"></mat-icon>
        <p>guitardojo@gmail.com</p>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <div class="form-container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="fill">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="fill">
              <input matInput placeholder="Last Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="fill">
              <input matInput placeholder="Email" />
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-6">
            <mat-form-field appearance="fill">
              <input matInput placeholder="Phone Number" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="fill">
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
        </div>


        <!-- <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
  </div>
</div>
