nav.navbar.navbar-expand-lg.navbar-light {
    height: 150px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 400;
}

.nav-link {
    font-weight: 200;
    font-size: 14px;
    color: #eee !important;
}

.nav-link:hover {
  color: #ffc045 !important;
}

.navbar-collapse {
  z-index: 10;
}

#logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #fff;
  }

  #logo {
    width: 100px;
    height: 100px;
  }

  .nav-link {
    color: #303333 !important;
  }

  .navbar-collapse {
    background: #eee !important;
  }

  .navbar-light .navbar-toggler {
    color: #ccc !important;
  }
}
