/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important
}

a {
  color: #ffc045;
}
a:hover {
  color: #eee;
  text-decoration: none;
}

.container-fluid {
    padding: 0;
    background: #303333
}

.container {
    background: #303333;
}

.heading-light {
    font-weight: 200;
}

p, h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    color: #ddd;
}

.dojo-btn {
    color: #333;
    background: #ffc045;
    border: 1px solid #ffc045;
    height: 40px;
    width: 40%;
}

.dojo-btn:hover {
    color: #ffc045;
    background: transparent;
    transition: 300ms;
}

.header-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.custom-dialog-container .mat-dialog-container {
  height: 250px;
}

mat-form-field {
  width: 100%;
}

mat-icon path {
  fill: #ffc045;
}

/* hide dark grey sub menu of current/clicked day on dates calendar */
.cal-month-view .cal-open-day-events {
  display: none;
}
