/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-fluid {
    padding: 0;
    background: #f0f4f4
}

.container {
    background: #f0f4f4;
}

.heading-light {
    font-weight: 200;
}

p {
    font-weight: 200;
}

.dojo-btn {
    color: #333;
    background: #fff;
    border: 1px solid #fff;
    height: 40px;
    width: 40%;
}

.dojo-btn:hover {
    color: #fff;
    background: #333;
    transition: 300ms;
}

.header-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
