.modal-header, .modal-body, .modal-footer {
  background: #555;
}

.modal-header {
  border-bottom: 1px solid #333;
}

.modal-footer {
  border-top: 1px solid #333;
}

.close {
  text-shadow: none;
}

.close:hover {
  color: #777
}


.dojo-btn {
  color: #333;
  background: #ffc045;
  border: 1px solid #ffc045;
  height: 40px;
  width: 40%;
}

.dojo-btn:hover {
  color: #ffc045;
  background: transparent;
  transition: 300ms;
}

#top-area {
  height: 250px;
  background: url('../../assets/homeAssets/guitarDojoHome.jpg') no-repeat center center;
  margin-left: 0;
  margin-right: 0;

}
