<!-- <div class="container-fluid">
  <app-nav></app-nav>
</div> -->
<div class="container">
  <hr style="color: #fff">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-lg-8">
      <img src="../../assets/homeAssets/guitarDojoHome.jpg" class="w-100">
    </div>
  </div>

  <hr>

  <div class="row my-5 pb-5">
    <div class="col-12 col-lg-6">
      <h1 class="heading-light">Lessons available for all levels of experience</h1>
    </div>
    <div class="col-12 col-lg-6">
      <p>Guitar Dojo's instructors are qualified to teach any skill level. Guitar Dojo also offers Rock Band group classes. Packages available now!!</p>
      <button class="btn dojo-btn">Buy Now</button>
    </div>
  </div>

  <hr>

  <div class="row mt-5 pb-5">
    <h2 class="heading-light w-100 px-3">
      Upcoming Events
    </h2>
    <!-- <div class="col-12 col-lg-6">
      <img class="events-image" src="../../assets/homeAssets/guitarDojoEvent1.jpg">
      <h5 class="heading-light pt-4">
        Christmas Rock Concert
      </h5>
      <p>
        Dec 24-25, 2019
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <img class="events-image" src="../../assets/homeAssets/guitarDojoEvent2.jpg">
      <h5 class="heading-light pt-4">
        NYE Rock band bash!
      </h5>
      <p>
        Dec 31, 2019
      </p>
    </div> -->
  </div>
</div>
