.events-image {
    width: 100%;
    height: 300px;
}

.header-image {
  height: 250px;
  background: url('../../assets/homeAssets/guitarDojoHome.jpg') no-repeat center center;
  margin-left: 0;
  margin-right: 0;
}

.jarallax {
  /* position: relative; */
}

.dojo-btn {
  color: #333;
  background: #00B2A9;
  border: 1px solid #00B2A9;
  height: 40px;
  width: 40%;
  border-bottom: 2px solid #FF8200;
}

.dojo-btn:hover {
  color: #00B2A9;
  background: transparent;
  transition: 300ms;
}

.date {
  background: #eee;
  padding: 10px;
  height: 40%;
  width: 25%;
  border: 1px solid #eee;
  border-radius: 10px;
  position: realtive;
  top: 100px;
  left: 10px;
}

.details a {
  color: #777;
}

.details a:hover {
  color: #999;
}

.event-img {
  width: 100%;
  height: auto;
}


.details {
  background: #ddd;
  padding: 20px;
  color: #303333;
}

.details > p, h3 {
  color: #303333;
}
